<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.program.wanandroiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroidDemo">
        <activity android:name=".ui.activity.SystemDetailsActivity"></activity>
        <!-- 详情 -->
        <activity android:name=".ui.activity.DetailsActivity" /> <!-- 收藏 -->
        <activity android:name=".ui.activity.user.UserCollectActivity" /> <!-- 个人信息 -->
        <activity android:name=".ui.activity.user.UserInfoActivity" /> <!-- 主页 -->
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 登录 -->
        <activity android:name=".ui.activity.user.UserLoginActivity" />
    </application>

</manifest>